.header {
    text-align: center;
  }
.cardwidth{
    width: 1069px;
    height:380px;
  
}
.containercardwidth{

    margin-top:  100px;
}


.images{
    width: 1069px;
    height: 300px;
}
.buttonclass{
    width: 200px;
}
.navbar-custom {
    background-color:#2699FB!important;
}
.buttonclass{
    color: white;

}
.cardpad{
    padding-top: 300px;
}